p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.hi{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.bentrai{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.thanhmenu{
  background-image: url(hinhnen.png);
  background-size: cover;
  min-height: 100vh;
  width: 1251.7px;
  height: 1080px;
  top: 1081px;
  left: -2px;
}

.hinh{
  background: url(aloo.svg);
  width: 842.82px;
  height: 613.81px;
  margin-top: 155px;
  margin-left: 158px;
  margin-bottom: 0;
}

.chu1{
  display: flex;
  align-items: center;
  width: 735px;
  height: 55px;
  margin-top: 42.19px;
  margin-left: 222px;
  margin-bottom: 0;
  font-family: Helvetica;
  font-size: 48px;
  color: rgba(86, 128, 249, 1);
}

.chu2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 577px;
  height: 30px;
  margin-top: 18px;
  margin-left: 301px;
  margin-right: 373.7px;
  font-family: "Quicksand";
  font-size: 24px;
  color: rgba(86, 128, 249, 1);
}

.benphai{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.dangnhap{
  display: flex;
  flex-direction: column;
  width: 569px;
  height: 621px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0px 4px 24px 0px 
  rgba(86, 85, 210, 0.24);
  margin-top: 229px;
  margin-left: 6.3px;
  margin-right: 95px;
  margin-bottom: 230px;
}

.matcuoi{
  background: url(kkk.svg);
  width: 282.01px;
  height: 95.76px;
  margin-top: 49.52px;
  margin-bottom: 0;
  margin-left: 145px;
  margin-right: 141.99px;
  margin-bottom: 0;
}

.chudo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 393px;
  height: 30px;
  margin-top: 55.72px;
  margin-left: 88px;
  margin-right: 88px;
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: rgba(238, 0, 51, 1);
}

.go1{
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.go2{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.hop1{
  width: 464px;
  height: 58px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(141, 153, 187, 1);
  font-size: 16px;
  font-family: "Quicksand";
  padding-left: 16px;
  color: rgba(141, 153, 187, 1);
}

.remember{
  display: flex;
  flex-direction: row;
}

.check{
  margin-top: 24px;
  margin-left: 52px;
  width: 20px;
  height: 20px;
  color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border: 1px solid rgba(141, 153, 187, 1);
}

.checkbox-custom{
  display: flex;
  border: 1px solid rgba(141, 153, 187, 1);
  background-color: rgba(224, 224, 224, 1);
}

.save1{
  margin-top: 26px;
  margin-left: 16px;
  font-size: 16px;
  color: black;
  font-family: "Quicksand";
}

.forgot{
  margin-top: 27px;
  margin-left: 242px;
  color: rgba(86, 128, 249, 1);
  font-family: "Quicksand";
  font-size: 16px;
}

.hopdo1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 465px;
  height: 48px;
  border-radius: 15px;
  background-color: rgba(238, 0, 51, 1);
  border-style: solid;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 32px;
  margin-left: 52px;
}

.final{
  margin-top: 8px;
  display: flex;
  justify-content: row;
  align-items: center;
}

.ban{
  margin-left: 175px;
  color: rgba(53, 59, 68, 1);
  font-size: 14px;
  font-family: "Quicksand";
}

.ban1{
  margin-left: 8px;
  color: rgba(86, 128, 249, 1);
  font-family: "Quicksand";
  font-size: 14px;

}